<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<style>
body { background-color: black; color: white; font-family: 'Courier New', Courier, monospace; font-size: 17px; }
p { display: block; max-width: 50ch; white-space: break-spaces; word-wrap: break-word; }
a { color: #a9e1ff; text-decoration: none; }
img { max-width: 200px; height: auto; }

form { 
    padding: 10px; 
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 15px;
}

.pictures-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.picture-container {
    background-color: #1a1a1a;
    padding: 10px 10px 5px 10px; /* Adjusted bottom padding */
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
}

.picture-container img {
    width: 100%;
    height: auto;
}

.description-container {
    margin-top: auto;
}

.description-container p,
.description-container form,
.like-section {
    margin: 0;
    padding: 0;
}

.like-section {
    margin-top: 5px;
    margin-bottom: 5px;
}

.like-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.like-button:hover {
    background-color: #555;
}

.picture-container > *:last-child {
    margin-bottom: 0;
}
</style>
<body>
<p>add a picture! please don't be mean :)</p>
<form action="/pics/upload" method="POST" enctype="multipart/form-data">
<p style="font-size: 13px; margin-top: 10px">author:  <input type="text" name="author" required>
caption: <input style="font-size: 13px;" type="text" name="description" required>
picture: <input type="file" name="file" accept="image/*" required></p>
<input type="submit" value="upload">
</form>

<form action="/pics" method="POST">
    <input type="hidden" name="order" value="{{ if eq .Order "asc" }}dsc{{ else }}asc{{ end }}">
    <input type="submit" value="{{ if eq .Order "asc" }}old to new{{ else }}new to old{{ end }}">
</form>

<div class="pictures-grid">
{{ range .Pictures }}
<div class="picture-container">
<p>{{ .Description }}</p>
<img src="{{ .Url }}" alt="{{ .Description }}">
<div class="description-container">
<p style="font-size: 10px; color: lightgrey;">author: {{ .Author }}<br></p>

<div class="like-section">
<form action="/pics/like/{{ .ID }}" method="POST">
<input type="submit" value="{{ .NumLikes }} likes" class="like-button" style="color: lightblue;">
</form>
</br>
<form action="/pics/dislike/{{ .ID }}" method="POST">
<input type="submit" value="{{ .NumDislikes }} dislikes" class="like-button" style="color: #ff6666;">
</form>
</div>
<p style="font-size: 10px; color: lightgrey;">{{ .Pit | formatRFC3339 }}</p>
</div>
</div>
{{ end }}
</div>
</body>
</html>
