<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<style>
body { background-color: black; color: white; font-family: 'Courier New', Courier, monospace; font-size: 17px; }
p { display: block; max-width: 30ch; white-space: break-spaces; word-wrap: break-word; }
a { color: #a9e1ff; text-decoration: none; }
</style>
<body>
    <p>hi! i'm ben. 

email: contact@btschwartz.com

resume:
- umich
  20-23    bs computer science
  24-25    ms computer science
- <a href="https://eecs388.org" target="_blank">eecs388</a>
  23-25    ta
- <a href="https://search.censys.io" target="_blank">censys</a>
  24       software intern
  25-now   software engineer

other stuff:
- <a href="https://github.com/btschwartz12" target="_blank">github</a>
- <a href="https://old.btschwartz.com" target="_blank">old website</a>
- <a href="https://old-portfolio.btschwartz.com" target="_blank">old portfolio</a>
- <a href="https://github.com/btschwartz12/site" target="_blank">source code</a> for this site

things to do:
- <a href="/survey" style="color: orange;">super fun survey</a> 
- <a href="/poke" style="color: orange;">encounter a pokémon</a>
- <a href="/pics" style="color: orange;">upload pics</a>
</p>
<p>-----------------------------</p>
<img rob src="/static/img/rob-min.png" onerror="this.style.display='none';" style="width: 150px"/><script src="/static/js/rob.js"></script>
</body>
</html>
